body {
	background-color:#f2f2f2;
	color:#373737;
}

h1 {
	font-size:145%;
}

.TableHeadingColor {
	background:#ccf;
	color:#222;
}

.TableSubHeadingColor {
	background:#eef;
	color:#222;
}

.TableRowColor {
	background:#fff;
	color:#222;
}

.FrameTitleFont {
	color:#222;
	font-family:Helvetica, Arial, sans-serif;
	font-size:100%;
}

.NavBarCell1 {
	background-color:#eef;
	color:#222;
}

.NavBarCell1Rev {
	background-color:#00008B;
	color:#fff;
}

.NavBarFont1 {
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
}

.NavBarFont1Rev {
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

.FrameHeadingFont,.FrameItemFont {
	color:#222;
	font-family:Helvetica, Arial, sans-serif;
	font-size:90%;
}

.NavBarCell2,.NavBarCell3 {
	background-color:#fff;
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
}